*, *::before, *::after {
  box-sizing: border-box;
}
body {
  font-family: 'Comic Sans MS', 'Comic Sans', system-ui, sans-serif;
  font-size: 1.5rem;
  line-height: 1.2;
}
header, main {
  /* display: flex; */
  margin: 0 auto;
  width: 70ch;
  max-width: 100%;
}
header h1 {
  border-bottom: 4px solid purple;
}
.button-topic {
  background-color: purple;
  border-radius: 0.5em;
  color: white;
  font-family: inherit;
  font-size: inherit;
  margin: 0 auto;
  padding: 0.5em 1em;
  width: fit-content;
}

.paragraph-topic {
  border-radius: 0.5em;
  border: 2px solid purple;
  padding: 1em;
}